html {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0%;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}

/* Container for Table and Menu*/
.site-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
}

.heading {
  font-size: 1.2vw;
  align-self: center;
}

.common-flex-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: none;
  background-color: white;
  overflow: auto;
}

.tables {
  /* For table as a flex-box item */
  flex-grow: 1;
  margin-right: 0.3vw;
}

.menu {
  /* For menu as a flex-box item */
  flex-grow: 3;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1vw;
  padding-left: 1vw;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.table {
  height: 6.5vw;
}

.menu-item {
  height: 8vw;
  cursor: pointer;
}

.card-title {
  font-size: 1.4vw;
}

.card-content {
  font-size: 1vw;
}

.search-bar {
  border: none;
  padding: 1vw;
}

#table-search-bar {
  width: 80%;
}

#menu-search-bar {
  width: 51%;
}

input {
  font-size: 1vw;
}

input:focus {
  outline: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 11vw; /* Specifies the position of the visible modal from top */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  width: 45%;
  max-height: 60%;
  margin: auto; /* Makes the pop-up content stay in the center of the screen */
  padding: 0;
  border-radius: 0.3vw 0.3vw 0.3vw 0.3vw;
}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.3vw;
  font-size: 1.4vw;
  background-color: #5b38aa;
  color: white;
  border-radius: 0.3vw 0.3vw 0 0;
  flex-grow: 1;
}

.modal-close-icon {
  font-size: 2.3vw;
}

.modal-close-icon:hover {
  cursor: pointer;
  color: #cacaca;
}

.modal-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 3;
}

.modal-body-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  font-size: 1vw;
  padding: 0 1vw 1vw 1vw;
  height: 3vw;
}

.modal-column-headings {
  font-weight: bold;
}

.modal-row-element {
  margin: 0 auto 0 auto;
}

.col-1 {
  width: 3vw;
}

.col-2 {
  width: 12vw;
}

.col-3 {
  width: 3vw;
}

.col-4 {
  width: 18vw;
}

.col-5 {
  width: 5vw;
}

.item-count-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-content: flex-start;
}

.modal-body-row__label {
  color: #888888;
  font-size: 0.8vw;
}

.modal-body-row__label--focus {
  color: #5b38aa;
  font-size: 0.8vw;
}

.modal-body-row__input {
  border: none;
  border-bottom: 0.1vw solid #888888;
  margin-top: 0.4vw;
  height: 1.5vw;
  width: 15vw;
  padding-left: 0.2vw;
}

.modal-body-row__input:focus {
  border-bottom: 0.15vw solid #5b38aa;
  box-shadow: none;
}

.delete-icon {
  width: 2vw;
  height: 2vw;
  cursor: pointer;
}

.no-orders-span {
  margin: auto;
}

.modal-footer {
  display: flex;
  flex-direction: row-reverse;
  border-radius: 0 0 0.3vw 0.3vw;
  flex-grow: 1;
}

.modal-footer__btn {
  background-color: white;
  border: none;
  outline: none;
  font-size: 1vw;
  padding: 1vw;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  border-radius: 0 0 0.3vw 0;
}

.modal-footer__btn:hover {
  color: white;
  background-color: #5b38aa;
}
