html {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0%;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}

/* Container for Table and Menu*/
.site-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;
}

.tables {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  overflow: auto;
  /* For table as a flex-box item */
  flex-grow: 1;
  margin-right: 0.3vw;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  overflow: auto;
  /* For menu as a flex-box item */
  flex-grow: 3;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 1vw;
  padding-left: 1vw;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.heading {
  align-self: center;
}

.table {
  height: 6.5vw;
}

.menu-item {
  height: 8vw;
}

.card-title {
  font-size: 1.4vw;
}

.card-content {
  font-size: 1vw;
}
